body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background: rgb(66, 149, 245);
    color: ghostwhite;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.app {
    text-align: center;
    background-color: rgba(54, 54, 54,0.7);
    padding: 3rem;
    border-radius: 20px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.7);
    width: 80vw;
    max-width: 1000px;
    border: 3px solid goldenrod;
}
    .app h1 {
        margin-bottom: 1.5rem;
        font-size: 2.5rem;
        font-weight: bold;
    }

form {
    display: flex;
    justify-content: center;
    margin-bottom: 1.5rem;
}

input {
    padding: 0.8rem 1rem;
    border-radius: 8px 0 0 8px;
    border: none;
    width: 70%;
    font-size: 1.2rem;
}

button {
    padding: 0.8rem 1rem;
    border-radius: 0 8px 8px 0;
    border: none;
    background-color: goldenrod;
    color: black;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
    button:hover {
        background-color: darkgoldenrod;
    }

.weather-interface {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 3rem;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}
    .weather-interface h2 {
        font-size: 3rem;
        margin-bottom: 1rem;
        text-align: center;
        max-width: 90%;
    }
    .weather-interface p {
        font-size: 2.2rem;
        font-weight: bold;
        margin: 1rem 0;
        text-align: center;
        max-width: 90%;
    }
    .weather-interface img {
        margin-top: 1.5rem;
        width: 200px;
    }

.error-message {
    color: red;
    font-weight: bold;
    font-size: 2.5rem;
    margin-top: 1rem;
    text-align: center;
}